#nav a {
    margin: 0 10px; /* Espacio entre las imágenes */
  }
  
  nav img {
    border-radius: 50%; /* Para hacer las imágenes redondas */
    transition: transform 0.3s; /* Suaviza las animaciones */
  }
  
  nav img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
  }


